.outer-edit-basket {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid lightgray ;
  position: relative;
  right: 6.5vw;
  height: 7vh;
}

.quality-price-amount {
  display: flex;
}

.price-edit {
  position: absolute;
  left: 46%;
}

.subtotal-delete {
  display: flex;
  position: absolute;
  width: 7%;
  justify-content: space-between;
  right: 7%;
  top: 1.1vh;
}

.link-edit {
  text-decoration: none;
  color: black;
}

.submit-update {
  position: relative;
  background-color: black;
  width: 5.3vw;
  height: 1.7vw;
  right: 2.5vw;
  top: 0.7vw;
}

.button-update {
  color: white;
  position: relative;
  font-size: 0.8vw;
  left: 0.2vw;
  top: 0.1vw;
}

.basket-index-item {
  position: relative;
  left: 12%;
  bottom: 20%;
}

.quantity-edit {
  position: absolute;
  width: 3%;
  right: 34%;
  bottom: 2.3vh;
}

.quantity-edit input {
  width: 2vw;
  position: relative;
}

.btn-delete-basket{
    position: relative;
    left: 10%;;
}