.outer-edit-basket {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid lightgray ;
  position: relative;
  right: 6.5vw;
  height: 7vh;
}

.quality-price-amount {
  display: flex;
}

.price-edit {
  position: absolute;
  left: 46%;
}

.subtotal-delete {
  display: flex;
  position: absolute;
  width: 7%;
  justify-content: space-between;
  right: 7%;
  top: 0.8vh;
}

.link-edit {
  text-decoration: none;
  color: black;
}

.submit-update {
  position: relative;
  background-color: black;
  width: 5.4vw;
  height: 1.7vw;
  right: 2.5vw;
  top: 0.1vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-update {
  color: white;
  position: relative;
  font-size: 0.8vw;
  top: 0.1vw;
  cursor: pointer;
}

.basket-index-item {
  position: relative;
  left: 12%;
  bottom: 20%;
}

.quantity-edit {
  position: relative;
  right: 15vw;
  top: 0.8vw;

}

.quantity-edit input {
  width: 2vw;
  position: relative;
}

.btn-delete-basket{
    position: relative;
    left: 10%;
    cursor: pointer;
}