.basket-button-div {
  background-color: black;
  display: flex;
  width: 7vw;
  height: 1.5vw;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
}

.add-cart-show{
  color: white;
  font-size: 0.75vw;
  position: relative;
}

button {
  padding: 0;
  border: none;
  background: none;
}

.basketItemCreate{
  width: 3vw;
  height: 1.5vw;
}

.input-add-item{
  width: 2.8vw;
  height: 1.3vw;
  font-size: 1vw;

}

.outer-bucket-create {
  display: flex;
  width: 10vw;
  height: 2vw;
  padding: 3%;
}

.add-text {
  position: relative;
  left: 7px;
}

.button-basket {
  position: relative;
  left: 0.5vw;
}


