.basket-button-div {
  background-color: black;
  color: white;
  display: flex;
  width: 118%;
  height: 30px;
  justify-content: space-evenly;
  align-items: center;
  font-size: 14px;
  position: relative;
  right: 13%;
}

button {
  padding: 0;
  border: none;
  background: none;
}

.basketItemCreate input {
  width: 55%;
  height: 85%;
  font-size: 20px;
  position: relative;
  left: 12%;
}

.outer-bucket-create {
  display: flex;
  width: 125%;
  height: 10%;
  padding: 3%;
//   background-color: lightgray;
}

.add-text {
  position: relative;
  left: 7px;
}

.button-basket {
  position: relative;
  left: 10%;
}

