
.outer-div-basket{
    border: 1px solid black;
    display: flex;
    width: 80%;
    position: relative;
    left: 10%;
    top: 50px;
    flex-direction: column;
    height: 100vh;
}

.basket-detail{
    border-bottom: 2px solid #333;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 40px;
    align-items: center;
    font-size: 14px;
    color: #000000;
    font-weight: 500;
}

.below-shopping-cart{
    border: 1px solid blue;
    display: flex;
    position: relative;
    top: 30px;
}

.right-div-basket{
    border: 1px solid black;
    width: 30%
}

.left-div-basket{
    border: 1px solid black;
    width: 70%;
}

.shopping-cart-text{
    position: relative;
    left: 20px;
    top: 2%;
    font-size: 16px;
    font-weight: 800;
    color: #111111;
    letter-spacing: 2px;
}

.subtotal-price{
    display: flex;
}

.inside-right-div{
    position: relative;
    border: 1px solid red;
    height: 60%;
    top: 9.3%;
    padding: 10px;
}

.total-price, .subtotal-price, .shipping-free{
    display: flex;
    justify-content: space-between;

}

.summary-text{
    font-size: 24px;
    font-weight: 220;
}

.basket-individual-item{
    display: flex;
    border: 1px solid black;
    height: 60px;
    align-items: center;
    justify-content: space-between;
}

.title-basket-item{
    font-size: 14px;
    font-family: Nats, sans-serif;
}

.subtotal-text{
    position: relative;
    left: 70px;
}

.qty-text{
    position: relative;
    left: 40px;
}

.item-text{
    position: relative;
    right: 70px;
}

