.listing-index-outer{
  width: 100%;
  height: 100%;
}

.listing-index {
  width: 86vw;
  height: 5em;
  position: relative;
  left: 10%;
  top: 6em;
  display: flex;
  flex-wrap: wrap;
}

.star {
  width: 70px;
  color: red;
}

.listing-index-item {
  border: 1px solid black;
  width: 20%;
  height: 540%;
  display: flex;
  margin: 2%;
  flex-direction: column;
}

.listing-images-index {
  width: 100%;
  height: 100%;
}

.images-link {
  text-decoration: none;
}

.listing-title-index {
  font-family: Nats, sans-serif;
  font-size: 14px;
  color: #010101;
  position: relative;
  // left: 5px;
}

.bottom-listing-index {
  padding: 3%;
}

.rating-star-length {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  height: 25px;
  font-size: 14px;
  top: 1.3vh;
}

.listing-description-div {
  font-size: 18px;
  color: black;
  position: relative;
  height: 4%;
  top: 2vh;
}

.description-text-index {
  text-overflow: ellipsis;
}

.listing-price-index {
  color: red;
  font-family: Nats, sans-serif;
  position: relative;
  top: 10px;
  left: 5px;
  font-size: 16px;
  font-weight: bold;
}

.basket-placeholder{
    width: 63%;
    // height: 5%;
    position: relative;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 8%;
}

.review-length-index{
    position: relative;
    left: 4%;
    border-left: 1px solid lightgray;
    width: 60%;
    height: 23px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
}

.review-length-p{
  position: relative;
  right: 10%;
}

.zero-star-icons, .fifth-star-icons, .one-star-icons, .fourth-half-icons, .two-star-icons, .third-star-icons, .fourth-star-icons, .fifth-star-icons, .one-half-icons, .two-half-icons, .third-half-icons{
  display: flex;
}

.fourth-star-icons, .fifth-star-icons, .third-half-icons, .fourth-half-icons, .third-star-icons, .two-half-icons, .two-star-icons, .one-half-icons, .one-star-icons, .zero-star-icons{
  color: red
}

.title-show-p{

}
