.listing-index-outer{
  width: 100%;
  height: 82px;
}

.listing-index {
  width: 86vw;
  height: 100%;
  position: relative;
  left: 10%;
  top: 6em;
  display: flex;
  flex-wrap: wrap;
}

.star {
  width: 70px;
  color: red;
}

.listing-index-item {
  border: 1px solid black;
  width: 18vw;
  height: 26vw;
  display: flex;
  margin: 1.2%;
  flex-direction: column;
}

.listing-images-index {
  width: 100%;
  height: 100%;
}

.images-link {
  text-decoration: none;
}

.listing-title-index {
  font-family: Nats, sans-serif;
  font-size: 0.85vw;
  font-weight: bold;
  color: #010101;
  position: absolute;
}

.bottom-listing-index {
  padding: 3%;
}

.rating-star-length {
  display: flex;
  align-items: center;
  position: relative;
  width: 10vw;
  height: 2vw;
  font-size: 0.8vw;
  top: 2vw;
}

.listing-description-div {
  font-size: 0.85vw;
  color: black;
  position: relative;
  height: 2vw;
  top: 3.3vw;
}

.description-text-index {
  text-overflow: ellipsis;
}

.listing-price-index {
  color: red;
  font-family: Nats, sans-serif;
  position: relative;
  top: 1.3vw;
  left: 0.8vw;
  font-size: 0.8vw;
  font-weight: bold;
}

.basket-placeholder{
    width: 10.5vw;
    position: relative;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 3.5vw;
    left: 4vw;
}

.review-length-index{
    position: relative;
    left: 4%;
    border-left: 1px solid lightgray;
    width: 7vw;
    height: 1vw;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
}

.review-length-p{
  position: relative;
  right: 10%;
}

.zero-star-icons, .fifth-star-icons, .one-star-icons, .fourth-half-icons, .two-star-icons, .third-star-icons, .fourth-star-icons, .fifth-star-icons, .one-half-icons, .two-half-icons, .third-half-icons{
  display: flex;
}

.fourth-star-icons, .fifth-star-icons, .third-half-icons, .fourth-half-icons, .third-star-icons, .two-half-icons, .two-star-icons, .one-half-icons, .one-star-icons, .zero-star-icons{
  color: red
}


