.listing-index {
  width: 86vw;
  height: 600vh;
  position: relative;
  left: 10%;
  top: 6em;
  display: flex;
  flex-wrap: wrap;
}

.star {
  width: 70px;
  color: red;
}

.listing-index-item {
  border: 1px solid black;
  width: 26%;
  height: 66vh;
  display: flex;
  margin: 1%;
}

.listing-images-index {
  width: 100%;
  height: 100%;
}

.images-link {
  text-decoration: none;
}

.listing-title-index {
  font-family: Nats, sans-serif;
  font-size: 15px;
  color: #010101;
  position: relative;
  left: 5px;
}

.bottom-listing-index {
  padding: 3%;
}

.rating-star-length {
  display: flex;
  align-items: center;
  position: relative;
  top: 2rem;
  width: 60%;
  height: 25px;
}

.listing-description-div {
  font-size: 18px;
  color: black;
  position: relative;
  top: 4rem;
  height: 4.7vh;
  overflow: hidden;
  text-overflow: ellipsis;
}

.description-text-index {
  text-overflow: ellipsis;
}

.listing-price-index {
  color: red;
  font-family: Nats, sans-serif;
  position: relative;
  top: 10px;
  left: 5px;
  font-size: 16px;
  font-weight: bold;
}


.basket-placeholder{
    width: 100%;
    height: 50px;
    position: relative;
    top: 5rem;
    color: black;
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
}

.review-length-index{
    position: relative;
    left: 20px;
    border-left: 1px solid lightgray;
    width: 60%;
    height: 23px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
}