.login-form{
    border-top: 0.25em solid black;
    height: 30em;
    position: relative;
    left: 10%;
    width: 85%;
    box-shadow: 0.5px 1px 0.5px 1px #888888;

}


.below-navbar-login{
    position: relative;
    top: 2em;
    right: 2em;
}

.text-login{
    font-size: 1.2em;
    position: relative;
    top: 25%;
    font-weight: bold;
}

.title-customer-login{
    position: relative;
    left: 10%;
    height: 3em;
    display: flex;
}

.login-form{
    display: flex;
    padding: 2%;
}

.right-login{
    position: relative;
    width: 50%;
    left: 2.8vw;
    height: 12vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.left-login{
 position: relative;
 left: 3vw;
 width: 40%;
 height: 26vw;
 display: flex;
 flex-direction: column;
 justify-content: space-around;

}

.password-box-login {
  border: 1px solid #d3d3d3;
  position: relative;
  bottom: 40%;
  width: 20vw;
  height: 1.8vw;
}

.email-box-login{
  border: 1px solid #d3d3d3;
  position: relative;
  height: 1.8vw;
  width: 20vw;
}

.email-login-part{
    width: 20vw;
    position: relative;
    // bottom: 40%;

}


.account-sentence{
  position: relative;
  bottom: 25%;
}

.password-text-login{
    position: relative;
    // top: 5%;
    font-size: 1vw;
    top: 0.8vw;
}

.password-box-login{
    position: relative;
    top: 1.3em;
}

.email-text-login{
    position: relative;
    bottom: 6%;
    font-size: 1vw;

}

.account-paragraph{
    font-size: 1vw;
}

.registered, .new-customers{
    font-size: 1.4vw;
}

.login-btn{
    position: relative;
    width: 8vw;
    height: 2.4vw;
    color: white;
    font-size: 1.2vw;
    background-color: black;
}

.create-account-line{
    font-size: 1.1vw;
    color: rgb(54, 51, 51);
    cursor: text;
}

.create-account-link{
    text-decoration: none;
    background-color: black;
    color: white;
    width: 13vw;
    height: 3vw;
    cursor: default;
}

.create-btn-form{
    position: relative;
    top: 1.2vw;
    left: 0.9vw;
    font-size: 1.1vw;
}

.login-demo{
    background-color: black;
    color: white;
    width: 15.6vw;
    height: 3.3vw;
    font-size: 1.25vw;
    cursor: default;
}

.demo-btn{
    position: relative;
    left: 0.8vw;
    top: 1.4vw;
    cursor: default;
}

.session-errors-login{
    color: red;
    font-size: 18px;
    position: relative;
    left: 40%;
    bottom: 15em;
}