input[type="radio"]{
    display: none;
}

#star-plain{
    color: red;
}

#star-color{
    color: red;
}

.review-items{
    display: flex;
    height: 200px;
    border-bottom: 1px solid gray;
    padding: 4%;

}

.review-nickname-p{
    font-size: 22px;
    color: #010101;
}

.left-review-item{
    width: 25%;
}

.right-review-item{
    display: flex;
    flex-direction: column;
    width: 75%;
}

.star-review{
    width: 10%;
    position: relative;
    bottom: 20%;

}

.verified-icon{
    display: flex;
    position: relative;
    top: 4%;
}

.recommend-broken-heart, .recommend-heart{
    display: flex;
}

.icon-recommendation{
    position: relative;
    top: 8%;
}

#verified-icon-symbol{
  color: lightgreen;
}

.p-verified-buyer{
    color: grey;
}

.no-review{
    position: relative;
    left: 24vw;
    top: 4vw;
    width: 27vw;
}

.overall-rating{
    display: flex;
    position: relative;
    top: 20px;
}

.review-create-form{
    background-color: #F5F5F5;
    position: relative;
    width: 50vw;
    left:  12vw;
    top: 4.5vw;
    height: 33vw;
    padding: 3%;


}

.login-show, .create-account-show{
    color: darkgray;
    cursor: default;
}

.star-create{
    position: relative;
    left: 8px;
}

.reviewing-title{
    color: #111111;
    font-size: 18px;
}


.nickname-review{
    display: flex;
    flex-direction: column;
    position: relative;
    top: 60px;
    cursor: text;
}

.review-create-review{
    position: relative;
    top: 90px;
}

input[type=text]{
    width: 99.8%;
    height: 30px;
    border: 1px solid lightgray

}

.below-nickname{
    position: relative;
    top: 10px;
    cursor: text;
}

.textarea-review{
    width: 99.8%;
    height: 100px;
    position: relative;
    top: 10px;
    border: 1px solid lightgray;
    
}

.submit-review{
    width: 100%;
    height: 2vw;
    color: white;
    background-color: black;
    font-size: 15px;
    position: relative;
    top: 14vw;
}

.submit-review-outer{
    position: relative;
    bottom: 12vw;
}

.review-errors{
    color: red;
    position: relative;
    top: 15px;
}



.sign-warning{
    border: 1px solid black;
    display: flex;
    width: 42vw;
    height: 2.3vw;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    left: 4vw;
    top: 2.4vw;
    font-size: 1.2vw;
    color: white;
    background-color: black;
}