input[type="radio"]{
    display: none;
}

#star-plain{
    color: red;
}

#star-color{
    color: red;
}

.review-items{
    display: flex;
    height: 200px;
    border-bottom: 1px solid gray;
    padding: 4%;

}

.review-nickname-p{
    font-size: 22px;
    color: #010101;
}

.left-review-item{
    width: 25%;
}

.right-review-item{
    display: flex;
    flex-direction: column;
    width: 75%;
}

.star-review{
    width: 10%;
    position: relative;
    bottom: 20%;

}

.verified-icon{
    display: flex;
    position: relative;
    top: 4%;
}

.recommend-broken-heart, .recommend-heart{
    display: flex;
}

.icon-recommendation{
    position: relative;
    top: 8%;
}

#verified-icon-symbol{
  color: lightgreen;
}

.p-verified-buyer{
    color: grey;
}

