input[type="radio"]{
    display: none;
}

#star-plain{
    color: red;
}

#star-color{
    color: red;
}

.review-items{
    display: flex;
    height: 200px;
    border-bottom: 1px solid gray;
    padding: 4%;

}

.review-nickname-p{
    font-size: 22px;
    color: #010101;
}

.left-review-item{
    width: 25%;
}

.right-review-item{
    display: flex;
    flex-direction: column;
    width: 75%;
}

.star-review{
    width: 10%;
    position: relative;
    bottom: 20%;

}

.verified-icon{
    display: flex;
    position: relative;
    top: 4%;
}

.recommend-broken-heart, .recommend-heart{
    display: flex;
}

.icon-recommendation{
    position: relative;
    top: 8%;
}

#verified-icon-symbol{
  color: lightgreen;
}

.p-verified-buyer{
    color: grey;
}

.no-review{
    position: relative;
    left: 40%;
    top: 60px;
}

.overall-rating{
    display: flex;
    position: relative;
    top: 20px;
}

.writeReview-class{
    position: relative;
    flex-direction: column;
    top: 130px;
    border: 1px solid black;
    width: 76%;
    left:  16%;
    height: 400px;
}

.star-create{
    position: relative;
    left: 8px;
}

.reviewing-title{
    color: #111111;
    font-size: 18px;
    border: 1px solid yellow;
}

.submit-review{
    position: relative;
    top: 180px;
}

.nickname-review{
    display: flex;
    flex-direction: column;
    position: relative;
    top: 60px;
}

.review-create-review{
    position: relative;
    top: 90px;
}

.below-nickname{

}

