.create-account-form {
  border-top: 0.25em solid black;
  height: 32.5em;
  position: relative;
  left: 8vw;
  width: 85vw;
  box-shadow: 0.5px 1px 0.5px 1px #888888;
}

.create-account-left,
.create-account-right {
  width: 35vw;
  height: 13vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.title-customer-account {
  position: relative;
  left: 8vw;
  height: 3vw;
  display: flex;
}

.text-create {
  font-size: 1.3vw;
  position: relative;
  top: 1.25vw;
  font-weight: bold;
}

.sign-up-form {
  display: flex;
  padding: 2%;
}

.first-name-box,
.last-name-box,
.email-box,
.password-box {
  width: 30vw;
  height: 2.7vw;
  border: 0.05vw, solid #d3d3d3;
}

.last-name-text,
.first-name-text,
.email-text,
.password-text {
  position: relative;
  top: 0.3vw;
  font-size: 1.2vw;
}

.below-navbar-signup {
  position: relative;
  top: 2vw;
  right: 2vw;
}

.create-account-right {
  position: relative;
  left: 11vw;
}

.create-account-left {
  position: relative;
  left: 2.3vw;
}

.create-btn {
  position: relative;
  left: 4vw;
  top: 3vw;
  width: 13vw;
  height: 3vw;
  font-size: 1vw;
  font-weight: bold;
  background-color: black;
  color: white;
}

.session-errors{
  color: red;
  font-size: 18px;
  position: relative;
  left: 20vw;
  bottom: 1vw;

}