.sign-in-message {
  border: 1px solid black;
  width: 30vw;
  height: 13.5vw;
  position: relative;
  left: 36vw;
  top: 15vw;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 10px 5px 5px lightgray;
}

.create-message, .login-message{
    display: flex;
    justify-content: space-around;
    width: 30vw;
    height: 2.9vw;
    align-items: center;
    background-color: lightgray;
    font-size: 1.3vw;
}

.view-basket{
    border: 1px solid black;
    width: 30.7vw;
    height: 3vw;
    background-color: lightgray;
}

.view-basket-text{
    position: relative;
    left: 1.5vw;
    top: 10px;
    color: black;
    font-size: 1.5vw;
    
}

.or-text{
    position: relative;
    top: 0.3vw;
    left: 14vw;
    font-size: 1.4vw;
}

.login-button-message{
    border: 1px solid black;
    text-decoration: none;
    color: white;
    background-color: black;
    width: 7.8vw;
    height: 2vw;
    font-size: 1.4vw;
}

.login-text, .create-text{
    position: relative;
    left: 30px;
    top: 6px;
}

.create-button-message {
    border: 1px solid black;
    text-decoration: none;
    color: white;
    background-color: black;
    width: 8vw;
    height: 2vw;
    position: relative;
    left: 0.7vw;
    font-size: 1.4vw;

}